*.dbf
*.zip
*.geojson
*.graphml
*.shp
*.shx
*.xlsx
*.html
*.json
*.parquet
*.gpkg
*.csv
*.pkl
__pycache__/
.venv/
*.log
*.tmp
*.pt
*.tif
*.tif.aux.xml
*.xml
*.ipynb_checkpoints
*.cpg
*.prj
*.pth
*.png
*.sbx
*.sbn
cache/
